//https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp ocultar scrollbars 
::-webkit-scrollbar {
    display: none;
  }
  
 
  body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }